/*
    Import fonts
*/

@font-face {
	src: url("@fonts/OpenSans-Bold.ttf");
	font-family: "OpenSans Bold";
}

@font-face {
	src: url("@fonts/OpenSans-Italic.ttf");
	font-family: "OpenSans Italic";
}

@font-face {
	src: url("@fonts/OpenSans-Regular.ttf");
	font-family: "OpenSans Regular";
}
