/*
    Holds global variables
*/

//Screen sizes
$xlg: 99099px;
$lg: 1400px;
$md: 1000px;
$sm: 600px;
$xsm: 480px;

//App colors
$color-1: rgb(247, 247, 247);
$color-2: rgb(255, 255, 255);
$color-3: rgb(80, 80, 80);
$color-4: rgb(30, 30, 30);
$color-5: rgb(220, 220, 220);
$color-6: rgb(150, 150, 150);
$color-bg: #fcb800;
$color-bg-light: #fccd4c;
$color-fg: #343a40;
$color-fg-alt: white;

//Fonts
$font-bold: "OpenSans Bold";
$font-regular: "OpenSans Regular";
$font-italic: "OpenSans Italic";
$font-size-normal: 13pt;
$font-size-little: 10pt;
