.copyright {
	display: flex;
	justify-content: center;
	background: $color-fg-alt;

	.container {
		display: flex;
		flex-direction: column;
	}

	.separator {
		height: 1px;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		padding: 40px 0 40px 0;
		@include screen-md {
			flex-direction: column;
			align-items: center;
		}
	}

	.payment {
		display: flex;
		align-items: center;
		@include screen-md {
			margin: 20px 0 0 0;
		}
	}

	.payment-text {
		@include screen-md {
			display: none;
		}
	}

	.text {
		text-align: center;
	}

	.payment-list {
		margin-left: 10px;
		align-items: center;
	}

	.payment-item {
		height: 30px;
		margin-left: 20px;
		position: relative;
		top: 0;
		transition: all 0.2s ease-out;
		&:hover {
			top: -10px;
		}
	}

	.image {
		height: 100%;
		border-radius: 5px;
	}
}
