.navbar {
	width: 100%;
	height: 140px;
	background: $color-bg;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 13;
	box-shadow: 0px 0px 10px rgb(200, 200, 200);
	transition: all 0.1s ease-out;

	@include screen-md {
		height: 70px;
	}

	.container {
		height: 100%;
	}

	&__top {
		width: 100%;
		height: 65%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include screen-md {
			height: 100%;
		}
	}

	&__left {
		display: flex;
		align-items: center;
	}

	.logo {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: $color-fg-alt;
		color: $color-fg;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 22pt;
		margin: 0 15px 0 0;
	}

	.title {
		color: $color-fg-alt;
		@include screen-sm {
			font-size: 26pt;
		}
	}

	.title-picked {
		color: $color-fg;
	}

	.separator {
		background: rgb(71, 71, 71, 0.4);
		@include screen-md {
			display: none;
		}
	}

	&__bottom {
		width: 100%;
		height: 35%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include screen-md {
			display: none;
		}
	}

	//border-right: 2px $color-fg-alt solid;

	.sections__item {
		display: flex;
		align-items: center;
	}

	.sections__link {
		padding: 5px 10px 5px 10px;
		color: $color-fg;
		border-radius: 5px;
		font-size: $font-size-normal;
		&:hover {
			background: $color-fg;
			color: $color-bg;
		}
		@media only screen and(max-width: 1200px) {
			margin-right: 5px;
		}
	}

	.vertical-separator {
		width: 8px;
		height: 8px;
		background: $color-fg;
		margin: 0 10px 0 10px;
		border-radius: 50%;
		@media only screen and(max-width: 1200px) {
			display: none;
		}
	}

	.trigger-button {
		display: none;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: $color-fg;
		color: $color-fg-alt;
		font-size: 20pt;
		@include screen-md {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&:hover {
			color: $color-bg;
			font-size: 24pt;
		}
		&:active {
			font-size: 10pt;
		}
	}
}
