.offers {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&__title {
		text-align: center;
		padding: 20px 20px 40px 20px;
		@include screen-md {
			padding: 20px;
		}
	}

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
		padding: 20px 0 20px 0;
		@include screen-md {
			flex-direction: column;
		}
	}

	.separator {
		width: calc(100% - 40px);
		margin: 20px 0 20px 0;
	}

	.price-box {
		width: calc(100% - 40px);
		background: transparent;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 10px;
		padding: 20px 0 20px 0;
		transition: all 0.2s ease-out;
		@media only screen and (max-width: 1400px) {
			padding: 5px 0 5px 0;
		}
	}

	.top {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include screen-md {
			width: 48%;
		}
		@media only screen and (max-width: 800px) {
			width: 100%;
		}
	}

	&__badge {
		width: 150px;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(25%, -25%);
		transition: all 0.6s ease-out;
		@media only screen and (max-width: 1400px) {
			width: 100px;
		}
		@include screen-md {
			top: 0;
			left: 50%;
			transform: translate(-50%, -25%);
		}
		@media only screen and (max-width: 800px) {
			left: 0;
			transform: translate(0, -25%);
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 400px;
		height: auto;
		background: white;
		margin-right: 40px;
		border-radius: 10px;
		box-shadow: 0px 0px 20px rgb(230, 230, 230);
		position: relative;
		top: 0;
		transition: all 0.2s ease-out;
		cursor: pointer;
		@media only screen and (max-width: 1400px) {
			margin-right: 20px;
		}
		@include screen-md {
			width: 100%;
			min-height: 300px;
			margin-right: 0;
			margin-bottom: 40px;
			flex-direction: row;
			justify-content: space-between;
			.separator {
				width: 1px;
				height: 80%;
			}
		}
		@media only screen and (max-width: 800px) {
			flex-direction: column;
			justify-content: space-between;
			.separator {
				width: calc(100% - 40px);
				height: 1px;
			}
		}
		&:hover {
			top: -20px;
			box-shadow: 0px 0px 30px rgb(170, 170, 170);
			@include screen-md {
				top: 0;
			}
			.separator {
				opacity: 0;
				@include screen-md {
					opacity: 1;
				}
			}
			.price-box {
				background: $color-bg-light;
				color: $color-fg-alt;
				text-shadow: 0px 1px 2px black;
			}
		}
		&:last-child {
			margin-right: 0;
		}
		&--special {
			min-height: 500px;
			background: $color-bg;
			box-shadow: 0px 0px 1px black;
			&:hover {
				.offers__badge {
					width: 170px;
					@media only screen and (max-width: 1400px) {
						width: 120px;
					}
				}
			}
			@media only screen and (max-width: 1400px) {
				min-height: 450px;
			}
			@include screen-md {
				min-height: 300px;
			}
			.price-box {
				background: $color-bg-light;
			}
			.separator {
				background: rgb(150, 150, 150);
			}
			.unit,
			.price {
				color: $color-fg-alt;
				text-shadow: 0px 1px 2px black;
			}
		}
	}

	.title {
		text-align: center;
		color: $color-fg;
		padding: 20px;
		@media only screen and (max-width: 1400px) {
			padding: 20px;
		}
	}

	.advantages {
		width: calc(100% - 40px);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@include screen-md {
			width: 48%;
		}
		@media only screen and (max-width: 800px) {
			width: calc(100% - 40px);
		}
		&__item {
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			@media only screen and (max-width: 1400px) {
				margin-bottom: 10px;
			}
		}
		&__item--check {
			.icon {
				color: green;
			}
		}
		.icon {
			width: 30px;
		}
	}
}
