.searchbar {
	display: flex;
	align-items: center;
	box-shadow: 0px 0px 1px black;
	height: 41px;
	@include screen-md {
		display: none;
	}

	.category-list {
		color: $color-fg;
		background: $color-fg-alt;
		text-align: center;
		border-right: 1px $color-5 solid;
		@media only screen and (max-width: 1200px) {
			text-overflow: ellipsis;
			width: 150px;
		}
	}

	.search-block {
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.search-input {
		width: 300px;
		height: 100%;
		color: $color-fg;
		background: $color-fg-alt;
		padding: 0 20px 0 20px;
		&:hover,
		&:active {
			background: $color-fg-alt;
		}
	}

	.search-text {
		@media only screen and (max-width: 1200px) {
			display: none;
		}
	}

	.button {
		padding: 0 20px 0 20px;
		height: 100%;
		background: $color-fg;
		&:hover {
			background: lighten($color-fg, 10%);
		}
		&:active {
			background: darken($color-fg, 10%);
			box-shadow: 0px 0px 20px $color-fg;
		}
	}

	.icon {
		margin-right: 10px;
		@media only screen and (max-width: 1200px) {
			margin: 0;
		}
	}
}
